@import url('font.css');

:root {
    /* Palette */
    --bianco-color: #FFFFFF;
    --nero-color: #000000;
    --verdino-color: #D5EE9F;
    --verdone-color: #60D394;
    --azzurro-color: #A3D9FF;
    --giallo-color: #F3C969;

    /* Tema globale */
    --background-dark-color: var(--nero-color);
    --background-light-color: var(--bianco-color);
    --text-dark-color: var(--nero-color);
    --text-light-color: var(--bianco-color);

    --gap: 20px;

    --border-color: var(--nero-color);
    --border-size: 2px;
    --border-radius: 5px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background: var(--background-light-color);
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

.backdark {
    background: var(--background-dark-color);
}

.backlight {
    background: var(--background-light-color);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.p,
.a {
    color: var(--text-dark-color);
    text-align: left;
}

h1,
.h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 0px;
}

h2,
.h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

h3,
.h3 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0px;
}

h4,
.h4 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0px;
}

h5,
.h5 {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 0px;
}

p,
.p,
label {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0px;
}

a,
.a {
    text-decoration: none;
}

i,
.i {
    font-style: italic;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.contenuto {
    margin: auto 70px;
}

.centra {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.sinistra {
    text-align: left;
}

.destra {
    text-align: right;
}

.bordo-dw {
    border-bottom: var(--border-size) solid var(--border-color);
}

.bordo-up {
    border-top: var(--border-size) solid var(--border-color);
}

.bordo-rg {
    border-right: var(--border-size) solid var(--border-color);
}

.bordo-lf {
    border-left: var(--border-size) solid var(--border-color);
}

.bordo {
    border: var(--border-size) solid var(--border-color);
}

.stonda-up-rg {
    border-top-right-radius: var(--border-radius);
}

.stonda-up-lf {
    border-top-left-radius: var(--border-radius);
}

.spazio-10 {
    margin-bottom: 10px;
}

.spazio-20 {
    margin-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-b-20 {
    padding-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.ruota180 {
    transform: rotate(180deg);
}

.button {
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    padding: 8px 12px;
}

.button:hover {
    background-color: var(--background-dark-color);
    color: var(--text-light-color);
    font-weight: 500;
}

.nascosto, #close-btn {
    display: none;
}

#contenutoSuccessivo {
    margin-left: 100%;
}

#contenutoIniziale, #contenutoSuccessivo {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* --------------------------------------------------------------------------------------------------*/
/* Barra di navigazione */

header {
    background-color: var(--text-light-color);
    z-index: 99;
    position: fixed;
    width: 100%;
    margin-top: 0 !important;
}

header div {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header div a {
    align-items: flex-end !important;
}

.menu ul {
    display: inline-block;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------------------------*/
/* Sezioni */

main {
    padding-top: 70px;
    height: 100%;
    min-height: calc(100% - 70px);
}

.sezione {
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    gap: var(--gap);
}

.flexbasis-margin {
    flex-basis: 70px !important;
}

/*
.flexbasis-33 {
   flex-basis: calc(33% - 11px);
}
*/
.flexbasis-100 {
    flex-basis: 100% !important;
}

.flexbasis-centro {
    flex-basis: calc(100% - 140px) !important;
}

.gap {
    gap: 0px !important;
}

.flex-h100 {
    align-items: stretch;
    height: 100%;
}

.flex-start {
    justify-content: flex-start;
}

.immagine {
    width: 100%;
    max-height: 100%;
}

.flex-colonna {
    flex-direction: column;
}

.flexbasis_40 {
    flex-basis: 40%;
}

.flexbasis_60 {
    flex-basis: 60%;
}









/* --------------------------------------------------------------------------------------------------*/
/* Filtri */

.filtri {
    width: 200px;
    position: absolute;
    bottom: 0;
    background-color: var(--background-light-color);
}

select {
    width: 100%;
    font-size: 1.15rem;
    padding: -2px !important;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
}

select:focus {
    outline: none;
}

input[type=checkbox], input[type=radio] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border: 1px solid var(--border-color);
    appearance: none;
    border-radius: var(--border-radius);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 0px;
}

input[type=checkbox]:checked, input[type=radio]:checked {
    background-color: var(--background-dark-color);
}

/* --------------------------------------------------------------------------------------------------*/
/* Offcanvas */

.offcanvas {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-light-color);
    padding-top: 60px;
    transition: top 0.75s ease-in-out; 
  }